:root {
    --bg-color: #4cc1cc;
    --button-bg-color: #fac736;
    --hover-button-bg-color: #f7b709;
    --text-color: black;
}

.navbar {
    background-color: var(--bg-color);

    margin: 1vmin;

    border-radius: 10px;

    display: flex;
    align-items: center;
    
    overflow: hidden;
}

.navbar-logo {

    width: 8rem;

    margin: 0px 20px 0px 20px;

    display: inline;
}

.navbar-list {

    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-list:first-child {
    margin: 0px;
}

.navbar-item {
    color: var(--text-color);
    background-color: var(--button-bg-color);

    min-width: 100px;
    min-height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    position: relative;

    text-align: center;

    list-style: none;

    transition: scale 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
}

.navbar-item:hover,
.sign-in-btn:hover {
    background-color: var(--hover-button-bg-color);

    cursor: pointer;

    text-decoration: underline;

    scale: 120%;
}

.navbar-item-text {
    color: var(--text-color);

    font-family: "Exo", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    margin: 0 10px 0 10px;
}

.sign-in-btn {
    color: var(--text-color);
    background-color: var(--button-bg-color);

    height: 40px;

    min-width: 100px;
    
    margin-left: auto;
    margin-right: 40px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: scale 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
}

.sign-in-btn-text {
    color: var(--text-color);

    font-family: "Exo", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}