@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #4cc1cc;
  --button-bg-color: #fac736;
  --hover-button-bg-color: #f7b709;
  --text-color: black;
}

body {
  background-color: #40434e;
}